<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

    <link rel='stylesheet' href='/dependencies/milligram.css' />
    <link rel='stylesheet' href='/stylesheets/custom.css' />

  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
